/* Decorations */

UnityDecoration {
    -UnityDecoration-extents: 28px 0 0 0;
    -UnityDecoration-input-extents: 10px;

    -UnityDecoration-shadow-offset-x: 1px;
    -UnityDecoration-shadow-offset-y: 0px;
    -UnityDecoration-active-shadow-color: rgba (0, 0, 0, 0.78);
    -UnityDecoration-active-shadow-radius: 30px;
    -UnityDecoration-inactive-shadow-color: rgba (0, 0, 0, 0.3);
    -UnityDecoration-inactive-shadow-radius: 25px;

    -UnityDecoration-glow-size: 10px;
    -UnityDecoration-glow-color: rgb (221, 72, 20);

    -UnityDecoration-title-indent: 10px;
    -UnityDecoration-title-fade: 35px;
    -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
    border: 1px solid rgba (0, 3, 5, 0.03); /* shade (@dark_bg_color, 1.04) - shade (@dark_bg_color, 1.5) */
    border-bottom-width: 0;
    border-radius: 6px 6px 0 0;
    padding: 1px 6px 0 6px;

    box-shadow: inset 0 0 transparent, inset 0 0 transparent,
                inset 0 1px @dark_bg_color, inset 0 0 transparent;

    background-color: transparent;
    background-clip: border-box;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1)),
                                     to (shade (@dark_bg_color, 1)));


    color: shade (@dark_bg_color, 0.4);
    text-shadow: 1px 0 shade (@dark_bg_color, 1.02), -1px 0 shade (@dark_bg_color, 1.02),
                 0 1px shade (@dark_bg_color, 1.02), 0 -1px shade (@dark_bg_color, 1.02);
}

UnityDecoration.top:backdrop {
}

UnityDecoration.left,
UnityDecoration.right {
    background-color: @dark_bg_color;
}

UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop {
}

UnityDecoration.bottom {
    background-color: @dark_bg_color;
}

/* Panel Style */

UnityPanelWidget,
.unity-panel {
    background-image: none;
    border-bottom-color: @dark_bg_color;
    border-width: 0 0 1px 0;
    border-style: solid;
    box-shadow: inset 0 0 transparent, inset 0 0 transparent,
                inset 0 0 @dark_bg_color, inset 0 0 transparent;

    color: @dark_fg_color; /*shade (@dark_bg_color, 0.4);*/
    text-shadow: 1px 0px shade (@dark_fg_color, 2), -1px 0px shade (@dark_fg_color, 2),
                 0px 1px shade (@dark_fg_color, 2), 0px -1px shade (@dark_fg_color, 2);
}

UnityPanelWidget:backdrop,
.unity-panel:backdrop {
    color: #a39e9a;
}

.unity-panel.menubar,
.unity-panel .menubar {

}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0px;
    icon-shadow: 0 -1px shade (#777, 1.06);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    /*background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.02)));*/
    background-color: @dark_bg_color;
}
